* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: dimgray;
}

h1,
h2,
b {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.top-banner {
  background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
}

.biography {
  background-image: url("images/biography-bg.png");
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
}

.name-highlight {
  color: #ff1493;
  font-weight: 900;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-weight: 900px;
  text-transform: uppercase;
  padding: 12px 16px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  background-image: linear-gradient(110deg, hotpink, deeppink);
}

.half-width {
  width: 48%;
  float: left;
  padding: 0 10%;
}

.top-banner,
.biography {
  padding-bottom: 500px;
}

.projects {
  background-image: url("images/latest-work-bg.png");
  background-repeat: no-repeat;
  text-align: center;
}

.project-gallery {
  width: 85%;
  padding-bottom: 285px;
  margin: 0 auto;
}

.project-photo {
  width: 31%;
  float: left;
}

.project-photo-m {
  margin-right: 3%;
}

.end {
  background-image: url("images/footer-bg.png");
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 80px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.quote {
  position: relative;
  line-height: 3;
}

.quote::before {
  content: open-quote;
  position: absolute;
  top: -50%;
  left: -2%;
  font-size: 50px;
  color: red;
}

.quote::after {
  content: close-quote;
  position: absolute;
  bottom: -60%;
  left: 62%;
  font-size: 50px;
  color: red;
}

.part-b {
  width: 60%;
  margin: 0 auto;
  background-image: linear-gradient(90deg, hotpink, deeppink);
  padding: 20px 30px;
  color: #fff;
  border-radius: 15px;
}

.email {
  font-size: 25px;
  font-weight: 900px;
  font-style: italic;
}

.bottom {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 50px;
}

footer {
  width: 60%;
  margin: 0 auto;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li {
  display: inline-block;
  padding: 15px;
}
